<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click) = "onNewRecipe()">New Recipe</button>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- recipes is the array containing all recipes where as [recipe] is taking value from that array and passing it to recipe-item component -->
        <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [index]= "i" [recipe] = "recipeEl"></app-recipe-item>
    </div>
</div>

